
body {
 background-color: #F2EBE9;
}

hr {
 border-style: none;
 border-top: 5px dotted #A5BECC;
 width : 8% ;
}

img {
 height: 200px;
}

h1{
 color: #7C3E66;
}

h3{
 color: #243A73;
}
